<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <div class="form-group__text select">
        <select id="select-type-basic">
          <option value="first">First Value</option>
          <option value="second" selected="">Second Value</option>
          <option value="third">Third Value</option>
        </select>
        <label for="select-type-basic">One</label>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <ra-autodropdown-lib [(raData)]="dropDownData" [raLabel]="'Multi Select'" [raCompressed]="false"
      (raOnchange)="onChangeAutodropdownData($event)"></ra-autodropdown-lib>
  </div>



  <div class="col-md-3">
    <div class="form-group">
      <div class="form-group__text select">
        <select id="select-type-basic">
          <option value="first">First Value</option>
          <option value="second" selected="">Second Value</option>
          <option value="third">Third Value</option>
        </select>
        <label for="select-type-basic">Two</label>
      </div>
    </div>
  </div>



</div>